.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Navs */
.Nav {
  display: flex;
  justify-content: space-around;
  background-color: #0070FF;
  color: white;
  font-size: 17px;
  width: 800px;
}

.numberExs {
  display: flex;
  gap: 15px;
  color: rgba(255, 255, 255, 0.372);
}

.numberExs h2:nth-child(2) {
  color: white;
}

/* Exs */
.exercise {
  font-size: 60px;
  padding: 10px;
}

/* info */
.textInfo {
  background-color: #CBE9EF;
  width: 800px;
  height: 80px;
  border-radius: 10px;
  border-color: #0070FF;
  padding: 10px;
  
}
.button{
  padding: 10px;
}
button {
  background-color: #0070FF;
  box-shadow: none;
  
  height: 40px;
  border-radius: 7px;
  color: #CBE9EF;
  font-size: 25px;
  box-shadow: 0px;
 

}
.MathOperations{
  display: flex;
  text-align: center;
}
.result{
  display: flex;
  gap:8px;
  font-size: 24px;
}


.MathsSigns {
  font-size: 30px;
}

.Operation{
display: flex;
}